# Java
*.class
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# db credentials
db.properties

# Application Employee Credentials
Credentials.json

# Ignore target directory
/shipping/target/

# ignore exports directory
/shipping/exports/